@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
       url('../fonts/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background: white;
  color: #111;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}
a:hover {
  border-bottom: 2px solid transparent;
}
img {
  max-width: 100%;
  display: block;
}

.left-menu {
  justify-content: flex-end; /* align left text to right */
  gap: 16px;
}

.left-link {
  color: #222;
  font-size: 24px;
  line-height: 1;
  transition: color 0.2s;
}

.circle {
  font-size: 16px;
  margin: 0 8px;
  color: #222;
  position: relative;
  top: -2px;
}

.logo {
  flex: 0 0 auto;              /* maintain natural logo size */
  margin: 0 80px;              /* some horizontal spacing around logo */
  display: flex;
  justify-content: center;
}

.logo img {
  width: 180px;
  height: auto;
  display: block;
}

/* Header */
header {
  font-family: 'Raleway-Regular', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px;
  font-size: 14px;
  font-weight: 400;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-weight: 400;
}
.logo {
  background: url('./images/logo-black.svg') no-repeat center/contain;
  margin: 0 40px;              /* some horizontal spacing around logo */
  justify-content: center;     /* center align images */
}
.left-menu,
.contact {
  display: block;
  align-items: center;
  min-width: 300px;
}
.contact {
  justify-content: flex-end;
  text-align: left; /* align right text to left */
  font-size: 24px;
  font-weight: 300;
  line-height: 1.3;
  font-style: normal;
  padding-left: 25%;
}